:host([themes~='light']) {
  // This file should include only, and exactly match, values from
  // https://github.com/home-assistant/frontend/blob/dev/src/resources/ha-style.ts

  --card-background-color: #ffffff;
  --primary-background-color: #fafafa;
  --secondary-background-color: #e5e5e5;
  --primary-text-color: #212121;
  --divider-color: rgba(0, 0, 0, 0.12);
  --app-header-text-color: #ffffff;

  // HA dynamically sets these values based on choice of primary/secondary
  // colors and hex blending techniques. The card does not currently
  // re-implement this logic, rather just uses the default static value.
  // See: https://github.com/home-assistant/frontend/blob/dev/src/common/dom/apply_themes_on_element.ts

  --app-header-background-color: #03a9f4;

  /******************
   * Overlay Message
   ******************/
  --advanced-camera-card-overlay-message-background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.85) 0%,
    rgba(235, 235, 235, 0.75) 100%
  );
  --advanced-camera-card-overlay-message-text-color: var(--primary-text-color);
  --advanced-camera-card-overlay-message-border: 1px solid rgba(0, 0, 0, 0.3);
  --advanced-camera-card-overlay-message-border-top: 1px solid
    rgba(0, 0, 0, 0.2);
  --advanced-camera-card-overlay-message-box-shadow: 0 8px 32px 0
      rgba(0, 0, 0, 0.3),
    0 2px 8px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.8);
  --advanced-camera-card-overlay-message-scrollbar-color: rgba(0, 0, 0, 0.5);
  --advanced-camera-card-overlay-message-close-color: #000000;
}
