a {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 14px;

  border-bottom: 1px solid var(--advanced-camera-card-divider-color);

  text-decoration: none;
  font-style: italic;

  color: var(--advanced-camera-card-editor-doc-link-color);
  cursor: help;

  transition:
    background-color 0.2s ease,
    color 0.2s ease;

  opacity: 0.7;
}

a:hover {
  background-color: var(--advanced-camera-card-editor-doc-link-hover-background);
  color: var(--advanced-camera-card-editor-doc-link-hover-color);
  opacity: 1;
}

a ha-icon:first-child {
  margin-right: 15px;
}

a div {
  flex: 1;
  pointer-events: none;
}
