:host {
  position: absolute;

  left: var(--start-x);
  top: var(--start-y);

  font-size: var(--size, 1em);
  color: hsl(var(--hue, 340), var(--saturation, 80%), var(--lightness, 55%));

  user-select: none;
  pointer-events: none;

  will-change: transform;
  animation: pulse var(--pulse-duration) ease-in-out infinite;
  animation-delay: var(--pulse-delay);
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  15% {
    opacity: var(--max-opacity, 1);
  }
  50% {
    transform: scale(1.3);
  }
  85% {
    opacity: var(--max-opacity, 1);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
