@use 'media-background.scss';

:host {
  display: flex;
  position: relative;

  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.container {
  display: block;

  // The container will be sized by the provider resize controller.
  width: fit-content;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

:host([size='unsized']) > .container {
  width: 100%;
  height: 100%;
}
:host([size='unsized-portrait']) > .container {
  height: 100%;
}
:host([size='unsized-landscape']) > .container {
  width: 100%;
}
