:host {
  display: flex;
  flex-direction: column;

  // Wrap "details that don't fit" off the side instead of showing part of a
  // detail.
  align-content: flex-start;
  flex-wrap: wrap;

  justify-content: center;

  width: 100%;

  // Details panel can shrink as well as grow.
  min-height: 0px;
  max-height: var(--advanced-camera-card-thumbnail-size);

  margin-left: 5px;

  color: var(--advanced-camera-card-thumbnail-text-color);

  overflow: hidden;

  --mdc-icon-size: 16px;
}

div {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 5px;

  container-type: normal;
  font-size: 0.95cqh;

  &.heading {
    font-weight: bold;
    font-size: 1cqh;
  }
}

[severity='high'] {
  color: var(--advanced-camera-card-thumbnail-icon-severity-high-color);
}
[severity='medium'] {
  color: var(--advanced-camera-card-thumbnail-icon-severity-medium-color);
}
[severity='low'] {
  color: var(--advanced-camera-card-thumbnail-icon-severity-low-color);
}
